<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Dashboard</h1>
    <p class="lead">What ya wanna do today?</p>
    <a class ="btn btn-lg btn-primary" href="/votes">All Votes</a>
    <a class ="btn btn-lg btn-success" ng-show="loggedIn" href="/votes/newpoll">New Poll</a>
    <a class ="btn btn-lg btn-primary" ng-show="loggedIn" href="/votes/mypolls">My Polls</a>
  </div>
</header>

<div class="container">
	<div id="newPollForm">
		<div ng-show="pollExist" class="alert alert-danger">Poll Name already exists, pick new one!</div>
		<h2>New Poll</h2>
		<form name="poll" novalidate>
			<label for="name">Name your poll</label>
			<input type="text" ng-model="pollName" placeholder="What's your favorite brand?" required>

			<label>Options</label>
			<div ng-repeat="n in placeholders track by $index" >
				<input type="text" ng-model="pollOptions[$index]" placeholder="{{placeholders[$index]}}" required> 
				<a href="#" ng-hide="minPollOpt" ng-click="removeOption($index)">Remove</a>
			</div>

			<button type="button" ng-click="newOption()" class="btn btn-default">More Options</button>
			<button type="submit" ng-click="submit()" ng-disabled="poll.$invalid" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.0 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
