<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Dashboard</h1>
    <p class="lead">What ya wanna do today?</p>
    <a class ="btn btn-lg btn-success" href="/votes/newpoll">New Poll</a>
    <a class ="btn btn-lg btn-primary" href="/votes/mypolls">My Polls</a>
  </div>
</header>

<div class="container">
	<div id="newPollForm">
		{{polls.pollOptions}}
		<h2>{{polls.pollName}}</h2>
		
		<h3>Options</h3>
		<ul>
			<li ng-repeat="option in polls.pollOptions">{{option}}</li>
		</ul>
		<h3>Votes</h3>
		<ul>
			<li ng-repeat="vote in polls.usersVote">{{vote}}</li>
		</ul>
	</div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.0 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
